@model List<System.Security.Claims.Claim>
@{
    ViewData["Title"] = "Claims";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Claims</h2>
<hr />

<table class="table table-bordered table-striped">
    <tr>
        <th>User</th>
        <th>Issuer</th>
        <th>Type</th>
        <th>Value</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Subject.Name</td>
            <td>@item.Issuer</td>
            <td>@item.Type</td>
            <td>@item.Value</td>
        </tr>
    }

</table>
