@model List<AppRole>
@{
    ViewData["Title"] = "GetAllRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Roles</h1>

<a class="btn btn-info" asp-action="RoleAdd" asp-controller="Admin">Add Role</a>

<table class="table table-bordered table-striped">
    <tr>
        <th>Id</th>
        <th>Role Name</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>
                <form asp-action="RoleDelete" asp-route-id="@item.Id" method="post">
                    <button class="btn btn-success" type="submit">Delete</button>
                </form>            
            </td>
            <td><a class="btn btn-info" asp-action="RoleUpdate" asp-route-id="@item.Id">Edit</a></td>
        </tr>
    }
</table>