@model UserViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h3 class="text-center"Kullanıcı Bilgileri></h3>

<div class="row">
    <div class="col-sm-1">
        <img style="width:170px; height:180px" src="~/DefaultUser.png" />
    </div>
    <div class="col-sm-6">

        <table class="table table-bordered table-striped">
            <tr>
                <th>User Name</th>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>@Model.Email</td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td>@Model.PhoneNumber</td>
            </tr>
        </table>

    </div>
</div>



