@model IdentityWebApp.Models.ViewModels.UserPasswordChangeViewModel

@{
    ViewData["Title"] = "PasswordChange";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}


<h3>Password Change</h3>
<hr />

@if (ViewBag.success == true)
{
    <div class="alert alert-info">
        Your password has been updated
    </div>
}else
{
<div class="row">
    <div class="col-md-4">
        <form asp-action="PasswordChange">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PasswordOld" class="control-label">Old Password</label>
                <input asp-for="PasswordOld" type="password" class="form-control" />
                <span asp-validation-for="PasswordOld" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordNew" class="control-label">New Password</label>
                <input asp-for="PasswordNew" type="password" class="form-control" />
                <span asp-validation-for="PasswordNew" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirm" placeholder="Password Confirm" class="control-label">Password Confirm</label>
                <input asp-for="PasswordConfirm" type="password" class="form-control" />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ok" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>    
}



