@model IdentityWebApp.Models.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPasswordConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.status == "success")
{
    <div class="alert alert-info">Your password has been renewed.</div>
    <a class="bbtn btn-link" href="/Home/Login/">Return to the login screen.</a>
}
else
{
   <div class="row">
        <div class="col-md-4 offset-md-4">
            <h4>Password Reset</h4>
            <hr />
            <form asp-action="ResetPasswordConfirm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" type="password" placeholder="New Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Send" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div> 
}




